/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "ulm_groteskbold";
  src: url("../fonts/ulmgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/ulmgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ulm_groteskregular";
  src: url("../fonts/ulmgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/ulmgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ulm_groteskregular", Arial, Helvetica, sans-serif;
  color: #141414;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
header .logo img {
  width: 150px;
}

@media (min-width: 768px) {
  header {
    height: 115px;
  }
  header .logo img {
    width: 220px;
  }
}
footer .footer-title {
  color: #3CF5A5;
  font-size: 28px;
  line-height: 110%;
}
footer .associates-list .associate {
  display: flex;
  align-items: center;
  position: relative;
}
footer .associates-list .avatar {
  height: 60px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
footer .associates-list .avatar img {
  display: block;
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
footer .associates-list .associate-details {
  line-height: 140%;
}
footer .associates-list .associate-details .instagram-profile {
  font-size: 14px;
  color: #3CF5A5;
  text-decoration: none;
}
footer .associates-list .associate-details .job-title {
  font-size: 15px;
  text-decoration: none;
}
footer .associates-list .associate-details .contact-links {
  font-family: "ulm_groteskbold", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
footer .associates-list .associate-details .contact-links a {
  display: inline-block;
  text-decoration: none;
  color: #141414;
  transition: opacity 0.5s;
}
footer .associates-list .associate-details .contact-links a:hover {
  opacity: 0.8;
}
footer .divisor {
  content: "";
  display: block;
  position: relative;
  height: 39px;
  width: 23px;
  margin: 0 40px;
  background-image: url("../imgs/divisor.png");
}
footer .social-networks li:not(:last-child) {
  margin-right: 20px;
}
footer .social-networks .social-links-list {
  display: flex;
}
footer .social-networks .social-icon {
  min-width: 44px;
  width: 44px;
  height: 44px;
  background: center center no-repeat;
  background-size: 100% 100%;
  display: block;
  outline: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
footer .social-networks .social-icon:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
footer .social-networks .instagram {
  background-image: url("../imgs/Instagram.png");
}
footer .social-networks .facebook {
  background-image: url("../imgs/Facebook.png");
}
footer .tooltip {
  display: none;
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  background: #ccc;
  font-size: 1.2em;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
footer .active + .tooltip {
  display: flex;
}

@media (max-width: 767.9999px) {
  footer .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer .footer-title {
    margin-bottom: 20px;
    text-align: center;
  }
  footer .footer-title br {
    display: none;
  }
  footer .associates-list {
    margin-bottom: 30px;
  }
  footer .associates-list .associate {
    margin-bottom: 20px;
  }
  footer .divisor {
    display: none;
  }
  footer .social-links-list {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  footer .container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer-title {
    margin-right: 38px;
    font-size: 22px;
  }
  footer .contacts {
    display: flex;
    align-items: center;
  }
  footer .associates-list {
    display: flex;
  }
  footer .associates-list .associate:not(:last-child) {
    margin-right: 104px;
  }
  footer .associates-list .associate:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    height: 39px;
    width: 23px;
    background-image: url("../imgs/divisor.png");
    right: -63px;
  }
  footer .associates-list .avatar {
    height: 60px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    margin-right: 15px;
  }
  footer .associates-list .associate-details .instagram-profile {
    font-size: 14px;
  }
  footer .associates-list .associate-details .job-title {
    font-size: 14px;
  }
  footer .associates-list .associate-details .contact-links {
    font-size: 14px;
  }
  footer .social-networks {
    display: flex;
    align-items: center;
  }
  footer .social-networks .social-icon {
    min-width: 34px;
    width: 34px;
    height: 34px;
  }
}
.content {
  height: calc(100vh - 150px);
}

@media (min-width: 768px) {
  .content {
    height: calc(100vh - 205px);
  }
}
.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.9999px) {
  .desktop-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 767.9999px) {
  .video-mobile {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .video-desktop {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
