@font-face {
    font-family: 'ulm_groteskbold';
    src: url('../fonts/ulmgrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/ulmgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ulm_groteskregular';
    src: url('../fonts/ulmgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/ulmgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}